header.navbar > a > img.shooting-star {
  width: 13vw;
  height: auto;
}

header.navbar {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 4vh 6vw 5vh;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

header > nav.nav-menu {
  flex: 1;
  justify-content: space-between;
  align-self: flex-start;
  padding-bottom: 0;
  padding-left: 20vw;
  padding-right: 10vw;
  display: flex;
  position: relative;
  top: 0%;
  left: 0%;
  right: 0%;
}

header > nav > .nav-link {
  background-color: var(--offwhite);
  color: var(--blue-blue);
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  padding: 0.5ch 2ch;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  transition: background-color 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  display: flex;
}

section.homepage-hero {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
}

img.complete-arch {
  width: 50vw;
  height: auto;
}

section > div.looping-projects {
  position: absolute;
  z-index: 2;
  max-width: 20vw;
  top: auto;
  bottom: 0;
  left: 7%;
}

div.looping-projects > a.link-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

a.link-block > img.arrow-down {
  width: 3vw;
  position: absolute;
}

a.link-block > img.looping-circle {
  animation: loop 8s linear 1s infinite normal;
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.marquee-wrapper.homepage {
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.marquee {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .marquee,
  .marquee-content.scroll,
  .marquee-content.scroll-image {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
}

.scroll {
  display: flex;
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-content {
  min-width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex: none;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.half-circle-diamond {
  width: 15vw;
}

.positive-dome {
  width: 11vw;
}

.snake-icon {
  width: 16vw;
}

.shooting-star-icon {
  width: 12vw;
}
