header.navbar > a > img.shooting-star {
  width: 13vw;
  height: auto;
}

header.navbar {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 4vh 6vw 5vh;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

header > nav.nav-menu {
  flex: 1;
  justify-content: space-between;
  align-self: flex-start;
  padding-bottom: 0;
  padding-left: 20vw;
  padding-right: 10vw;
  display: flex;
  position: relative;
  top: 0%;
  left: 0%;
  right: 0%;
}

header > nav > .nav-link {
  background-color: var(--offwhite);
  color: var(--blue-blue);
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  padding: 0.5ch 2ch;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  transition: background-color 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  display: flex;
}

section.homepage-hero {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
}

img.complete-arch {
  width: 50vw;
  height: auto;
}

section > div.looping-projects {
  position: absolute;
  z-index: 2;
  max-width: 20vw;
  top: auto;
  bottom: 0;
  left: 7%;
}

div.looping-projects > a.link-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

a.link-block > img.arrow-down {
  width: 3vw;
  position: absolute;
}
